---
import config from "@/config/config.json";
import { AddToCart } from "@/functional-components/cart/AddToCart";
import type { Product } from "@/lib/shopify/types";

interface Props {
  products: Product[];
}

const { products } = Astro.props;
const { currencySymbol } = config.shopify;
---

<div class="row">
  {
    products.map((product: any) => {
      const {
        title,
        handle,
        featuredImage,
        priceRange,
        variants,
        compareAtPriceRange,
      } = product;

      const defaultVariantId = variants.length > 0 ? variants[0].id : undefined;
      return (
        <div class="text-center col-6 md:col-4 lg:col-3 mb-8 md:mb-14 group relative">
          <div class="relative overflow-hidden">
            <img
              src={featuredImage.url || "/images/product_image404.jpg"}
              width={312}
              height={269}
              alt={featuredImage.altText || "fallback image"}
              class="w-[312px] h-[150px] md:h-[269px] object-cover border border-border rounded-md"
            />

            <AddToCart
              client:only="react"
              variants={product.variants}
              availableForSale={product.availableForSale}
              handle={handle}
              defaultVariantId={defaultVariantId}
              stylesClass="btn btn-primary max-md:btn-sm z-10 absolute bottom-12 md:bottom-0 left-1/2 transform -translate-x-1/2 translate-y-full md:group-hover:-translate-y-6 duration-300 ease-in-out whitespace-nowrap drop-shadow-md"
            />
          </div>
          <div class="py-2 md:py-4 text-center z-20">
            <h2 class="font-medium text-base md:text-xl">
              <a
                class="after:absolute after:inset-0"
                href={`/products/${handle}`}
              >
                {title}
              </a>
            </h2>
            <div class="flex flex-wrap justify-center items-center gap-x-2 mt-2 md:mt-4">
              <span class="text-base md:text-xl font-bold text-text-dark dark:text-darkmode-text-dark">
                {currencySymbol}
                {priceRange.minVariantPrice.amount}
                {compareAtPriceRange?.maxVariantPrice?.currencyCode}
              </span>

              {parseFloat(compareAtPriceRange?.maxVariantPrice.amount) > 0 && (
                <s class="text-text-light dark:text-darkmode-text-light text-xs md:text-base font-medium">
                  {currencySymbol} {compareAtPriceRange?.maxVariantPrice.amount}{" "}
                  {compareAtPriceRange?.maxVariantPrice?.currencyCode}
                </s>
              )}
            </div>
          </div>
        </div>
      );
    })
  }
</div>

<div class="flex justify-center">
  <a class="btn btn-sm md:btn-lg btn-primary font-medium" href="/products">
    + See All Products
  </a>
</div>
