---
const {
  amount,
  className = "",
  currencyCode = "USD",
  currencyCodeClassName = "",
} = Astro.props;

const formattedAmount = new Intl.NumberFormat(undefined, {
  style: "currency",
  currency: currencyCode,
  currencyDisplay: "narrowSymbol",
}).format(parseFloat(amount));

const combinedClassName =
  `${className} ${currencyCodeClassName ? "ml-1 inline" : ""}`.trim();
---

<p class={className}>
  {formattedAmount}
  <span class={combinedClassName}>{currencyCode}</span>
</p>
