---
import ImageMod from "@/components/ImageMod.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const call_to_action = (await getEntry(
  "ctaSection",
  "call-to-action"
)) as CollectionEntry<"ctaSection">;
const { data } = call_to_action;
---

{
  data.enable && (
    <section class="section">
      <div class="container">
        <div class="rounded-xl bg-light px-6 py-8 md:py-16 dark:bg-darkmode-light">
          <div class="row items-center">
            <div class="mb-10 md:mb-0 lg:col-6 xl:col-6 mx-auto text-center order-2 lg:order-0">
              <p
                set:html={markdownify(data.sub_title)}
                class="md:text-lg text-text-dark dark:text-darkmode-text-dark font-bold"
              />
              <h2 set:html={markdownify(data.title)} class="my-2 h1" />
              <p
                set:html={markdownify(data.description)}
                class="mb-6 md:text-lg"
              />

              {data.button.enable && (
                <a
                  class="btn btn-sm md:btn-lg btn-primary font-medium"
                  href={data.button.link}
                >
                  {data.button.label}
                </a>
              )}
            </div>

            <div class="mx-auto lg:col-5 mb-6 lg:mb-0">
              <ImageMod
                src={data.image}
                width={543}
                height={390}
                alt="cta-image"
                class="mx-auto"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
