---
import Logo from "@/components/Logo.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import DynamicIcon from "@/helpers/DynamicIcon";
import { markdownify } from "@/lib/utils/textConverter";
const { copyright } = config.params;

export interface ISocial {
  name: string;
  icon: string;
  link: string;
}
---

<footer class="bg-light dark:bg-darkmode-light">
  <div class="container">
    <div
      class="flex flex-col md:flex-row justify-between items-center py-10 md:pt-20 md:pb-14"
    >
      <Logo />

      <ul class="flex gap-x-4 lg:gap-x-10 my-3">
        {
          menu.footer.map((menu) => (
            <li class="footer-link">
              <a href={menu.url}>{menu.name}</a>
            </li>
          ))
        }
      </ul>

      {/* social share */}
      <ul class="social-icons social-icons-footer">
        {
          social?.main.map((social: ISocial) => (
            <li>
              <a
                aria-label={social.name}
                href={social.link}
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <span class="sr-only">{social.name}</span>
                <DynamicIcon className="inline-block" icon={social.icon} />
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="border-t border-border py-5 dark:border-darkmode-border">
      <div
        class="flex flex-col md:flex-row gap-y-2 justify-between items-center text-text-light dark:text-darkmode-text-light"
      >
        <ul class="flex gap-x-4">
          {
            menu.footerCopyright.map((menu) => (
              <li class="footer-link">
                <a href={menu.url}>{menu.name}</a>
              </li>
            ))
          }
        </ul>

        <p class="text-sm font-light" set:html={markdownify(copyright)} />
      </div>
    </div>
  </div>
</footer>
