---
import ImageMod from "@/components/ImageMod.astro";
import Accordion from "@/functional-components/Accordion";
import Testimonials from "@/functional-components/Testimonials";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import PageHeader from "@/partials/PageHeader.astro";
import type { AboutUsItem } from "@/types";
import { getEntry } from "astro:content";
import { FaBoxOpen, FaHeadset, FaRegCheckCircle } from "react-icons/fa";

const about = await getEntry("about", "-index");

const {
  title,
  meta_title,
  description,
  image,
  about_us,
  faq_section_title,
  button,
  faq_section_subtitle,
  faqs,
  testimonials_section_enable,
  testimonials_section_title,
  testimonials,
  staff_section_enable,
  staff,
} = about.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />

  <section>
    <div class="container">
      {
        about_us?.map((section: AboutUsItem, index: number) => (
          <div class={`lg:flex gap-8 mt-14 lg:mt-28`}>
            {index % 2 === 0 ? (
              <>
                <ImageMod
                  class="rounded-md mx-auto"
                  src={section?.image}
                  width={536}
                  height={449}
                  alt={section?.title}
                />
                <div class="mt-10 lg:mt-0">
                  <h2>{section?.title}</h2>
                  <p
                    class="mt-4 text-light dark:text-darkmode-light leading-7"
                    set:html={markdownify(section?.content)}
                  />
                </div>
              </>
            ) : (
              <>
                <div>
                  <h2>{section.title}</h2>
                  <p
                    class="mt-4 text-light dark:text-darkmode-light leading-7"
                    set:html={markdownify(section.content)}
                  />
                </div>
                <ImageMod
                  class="rounded-md mx-auto mt-10 lg:mt-0"
                  src={section.image}
                  width={536}
                  height={449}
                  alt={section.title}
                />
              </>
            )}
          </div>
        ))
      }
    </div>
  </section>

  {
    testimonials_section_enable && (
      <Testimonials
        client:load
        title={testimonials_section_title!}
        testimonials={testimonials!}
      />
    )
  }

  <section>
    <div class="container">
      <div class="text-center">
        <h2>Our Staff</h2>

        <div
          class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-14"
        >
          {
            staff_section_enable &&
              staff!.map(
                (s: { name: string; designation: string; avatar: string }) => (
                  <div class="border border-border rounded-lg">
                    <div class="py-6 space-y-2">
                      <h3 class="h4">{s.name}</h3>
                      <p class="text-dark dark:text-darkmode-light">
                        {s.designation}
                      </p>
                    </div>
                    <div class="bg-theme-light rounded-b-xl mx-auto">
                      <ImageMod
                        src={s.avatar}
                        alt={`Staff-${s.name}`}
                        width={290}
                        height={250}
                        class="mx-auto w-full h-[250px] rounded-b-xl overflow-hidden"
                      />
                    </div>
                  </div>
                ),
              )
          }
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div
        class="bg-theme-light px-7 py-20 dark:bg-darkmode-theme-light text-center rounded-md"
      >
        <h2>Reasons to shop with us</h2>

        <div class="row justify-center gap-6 mt-14">
          <div class="col-6 md:col-5 lg:col-3">
            <div class="flex justify-center">
              <FaHeadset size={48} />
            </div>
            <h3 class="md:h4 mt-6 mb-4">24/7 Friendly Support</h3>
            <p>Our support team always ready for you to 7 days a week</p>
          </div>

          <div class="col-6 md:col-5 lg:col-3">
            <div class="flex justify-center">
              <FaBoxOpen size={48} />
            </div>
            <h3 class="md:h4 mt-6 mb-4">7 Days Easy Return</h3>
            <p>Product any fault within 7 days for an immediately exchange.</p>
          </div>

          <div class="col-6 md:col-5 lg:col-3">
            <div class="flex justify-center">
              <FaRegCheckCircle size={48} />
            </div>
            <h3 class="md:h4 mt-6 mb-4">Quality Guaranteed</h3>
            <p>
              If your product are not perfect, return them for a full refund
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div
        class="bg-theme-light px-7 lg:px-32 py-20 dark:bg-darkmode-theme-light row mb-14 xl:mb-28 rounded-b-md"
      >
        <div class="col-12 md:col-5 mx-auto space-y-5 mb-10 md:mb-0">
          <h1 set:html={markdownify(faq_section_title!)} />
          <p set:html={markdownify(faq_section_subtitle!)} class="md:text-lg" />

          {
            button?.enable && (
              <a
                class="btn btn-sm md:btn-lg btn-primary font-medium"
                href={button.link}
              >
                {button.label}
              </a>
            )
          }
        </div>

        <div class="col-12 md:col-7">
          <Accordion client:load faqs={faqs} />
        </div>
      </div>
    </div>
  </section>
</Base>
